env/
build/
install/
log/
.vscode
launch/__pycache__
gpio_tests/*
src/hardware_control/hardware_control/__pycache__/*
src/motion_control/motion_control/__pycache__/*
src/hardware_control/hardware_control/__pycache__/*
src/robot_localization
src/rf2o_laser_odometry
src/cv/cv/__pycache__
