<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="pibot">
    <xacro:arg name="sim_mode" default="false"/>
    <xacro:include filename="robot_description.xacro"/>
    <xacro:if value="$(arg sim_mode)">
        <!-- <xacro:include filename="gazebo_control.xacro"/> -->
        <xacro:include filename="ros2_control.xacro"/>
    </xacro:if>
</robot>   